# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Environment variables
*.env

# Logs and temporary files
*.log
*.bak

# System-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python packaging files
build/
dist/
*.egg-info/
